{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <div>
    <h2>아이디/비밀번호 찾기</h2>
    <h3>아이디 찾기</h3>
    <form id="find-id-form" action="/user/findid" method="post">
      <div class="input-group">
        <label for="check-nick">닉네임 입력</label>
        <input id="check-nick" type="text" name="nickName"></div>
      <button id="find-id-btn" class="btn">아이디 찾기</button>
    </form>
<!--    <h3>비밀번호 찾기</h3>-->
<!--    <form id="find-pw-form" action="/user/changpw" method="post">-->
<!--      <div class="input-group">-->
<!--        <label for="join-email">이메일</label>-->
<!--        <input id="join-email" type="email" name="email"></div>-->
<!--      <div class="input-group">-->
<!--        <label for="join-nick">닉네임</label>-->
<!--        <input id="join-nick" type="text" name="nick"></div>-->
<!--      <div class="input-group">-->
<!--        <label for="join-password">비밀번호</label>-->
<!--        <input id="join-password" type="password" name="password">-->
<!--      </div>-->
<!--      <button id="join-btn" type="submit" class="btn">회원가입</button>-->
<!--    </form>-->
  </div>
</div>
{% endblock %}