{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>
            <div class="findNick">
              {{following.id}}
            </div>
              {{following.nick}}
              <button class="twit-followend">팔로잉 해제</button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.querySelectorAll('.twit-followend').forEach(function (tag) {
      tag.addEventListener('click', function () {
        const isLoggedIn = document.querySelector('#my-id');
        if (isLoggedIn) {
          const userId = tag.parentNode.querySelector('.findNick').innerHTML;
          const myId = isLoggedIn.value;
          if (userId !== myId) {
            if (confirm('팔로우를 끊습니까?')) {
              const xhr = new XMLHttpRequest();
              xhr.onload = function () {
                if (xhr.status === 200) {
                  location.reload();
                }
                else {
                  console.error(xhr.responseText);
                }
              };
              xhr.open('POST', '/user/' + userId + '/followend');
              xhr.send();
            }
          }
        }
      });
    });
  </script>
{% endblock %}